{% extends "base_generic.html" %}
{% block log %}
{% if form.errors %}
<p>Tu usuario o contraseña no concuerda.</p>
{% endif %}
{% if next %}
    {% if user.is_authenticated %}
    <p>No tiene acceso.</p>
    {% else %}
    <p>Introduzca credenciales para ver el contenido.</p>
    {% endif %}
{% endif %}
<form method="post" action="{% url 'login' %}">
{% csrf_token %}
<div>
  <td>{{ form.username.label_tag }}</td>
  <td>{{ form.username }}</td>
</div>
<div>
  <td>{{ form.password.label_tag }}</td>
  <td>{{ form.password }}</td>
</div>
<hr>
<div>
  <input type="submit" value="Validar" />
  <input type="hidden" name="next" value="{{ next }}" />
</div>
</form>
{% endblock %}